header {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 150px 0 40px;

  background: linear-gradient(30deg, rgba(0, 32, 48, 1) 0%, rgba(45, 27, 79, 1) 100%);
}

h1 {
  --shadow-offset: 10px;
  --a-color: var(--primary);
  --b-color: var(--secondary);
  --b-multiplier: -1;

  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;

  font-size: 200px;
  font-weight: normal;
  letter-spacing: 10px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  text-shadow:
    var(--shadow-offset) var(--shadow-offset) 0 var(--a-color),
    calc(var(--b-multiplier) * var(--shadow-offset)) calc(var(--b-multiplier) * var(--shadow-offset)) 0 var(--b-color);
}

@media (max-width: 700px) {
  h1 {
    --shadow-offset: 3px;
    font-size: 60px;
    line-height: 70px;
  }
}