:root {
  --color-murk: hsl(240 20% 4%);
  --color-shell: hsl(0 0% 90%);
  --color-orange: hsl(36 100% 50%);
  --color-sky: hsl(193 100% 50%);
}

body {
  --background: var(--color-murk);
  --color: var(--color-shell);

  font-family: 'Poppins', sans-serif;
  background: var(--background);
  color: var(--color);
}

h1 {
  --shadow-offset: 5px;
  --a-color: var(--color-orange);
  --b-color: var(--color-sky);
  --b-multiplier: -1;

  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 200px;
  font-weight: normal;
  letter-spacing: 10px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  text-shadow:
    var(--shadow-offset) var(--shadow-offset) 0 var(--a-color),
    calc(var(--b-multiplier) * var(--shadow-offset)) calc(var(--b-multiplier) * var(--shadow-offset)) 0 var(--b-color);
}

@media (max-width: 700px) {
  h1 {
    --shadow-offset: 3px;
    font-size: 60px;
    line-height: 70px;
  }
}